<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>IpiMdd050EvalWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://bootswatch.com/3/journal/bootstrap.min.css">
</head>
<body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
<div th:fragment="menu">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" class="navbar-toggle collapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="http://localhost:5366" class="navbar-brand">Librairie Audio</a>
        </div>

        <div id="bs-example-navbar-collapse-1" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="http://localhost:5366/artists?page=0&amp;size=10&amp;sortProperty=name&amp;sortDirection=ASC" class="nav-link ember-view">Liste des artistes</a></li>
            </ul>

            <form
                    role="search"
                    class="navbar-form navbar-right"
                    th:action="@{/artists}"
            >
                <div class="form-group">
                    <input type="hidden" th:value="0" name="page" />
                    <input type="hidden" th:value="10" name="size" />
                    <input type="hidden" th:value="name" name="sortProperty" />
                    <input type="hidden" th:value="ASC" name="sortDirection" />
                    <input
                            type="text"
                            placeholder="Rechercher par nom"
                            class="ember-text-field form-control ember-view"
                            th:value="${name}"
                            name="name"
                    />
                </div>
                <button type="submit" class="btn btn-default">Rechercher</button>
            </form>
        </div>
    </div>
</nav>
</div>
</body>
</html>